In [17]:
from datetime import datetime
# import pandas as pd
# import logging
# import random

import app
from app import appbuilder, db
from app.models import Contact, ContactGroup, Gender, Country, Student, StudentSemester, StudentLevel

# log = logging.getLogger(__name__)

In [ ]:
for s in db.session.query(Student).all():
    print (s.id, s.name_en)

In [13]:
for s in db.session.query(Student).all():
    print (s.id, s.name_en, s.status)

1 Mahmoud Elhusseiny Active
2 Sayed Abdel Hafeez Inactive
3 Sameh Shahin Active
4 Kamal Elshahat Active
5 Mahmoud Hossam Active
6 Samah Abdel Wadoud Active

In [19]:
for s in db.session.query(StudentSemester).all():
    print (s.student_id, s.student_name)
    print (s.student_level_id, s.student_level)

1 0001-محمود الحسينى
L1 1-0001-محمود الحسينى- Level 1

In [22]:
for s in db.session.query(StudentLevel).all():
    print (s.student_name, s.student_id, s.level, s.level_id )

0001-محمود الحسينى 1 Level 1 L1
0001-محمود الحسينى 1 Level 2 L2
0001-محمود الحسينى 1 Level 3 L3
0002-سيد عبد الحفيظ 2 Level 1 L1
0004-كمال الشحات 4 Level 3 L3